LAB_DB_NAME=Diagnostics
GLOBAL_DB_HOST=mongodb://<username>:<password>@<host>:27017/
GLOBAL_PRIVATE_KEY_PASS=
GLOBAL_PRIVATE_KEY_PART1=
GLOBAL_PRIVATE_KEY_PART2=
GLOBAL_PRIVATE_KEY_PART3=
GLOBAL_PUBLIC_KEY=
SECURITY_DISABLED=false
